@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-hand: var(--font-handwriting);
  --font-kurale: var(--font-kurale);
  --font-badscript: var(--font-bad_script);
  --font-ptserif: var(--font-pt_serif);

  @keyframes expand {
    from { width: 25px; }
    to { width: 1202px; }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

   height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.vintage-border {
  position: relative;
}
        .vintage-border::before {
            content: '';
            position: absolute;
            top: 4px;
            left: 4px;
            right: 4px;
            bottom: 4px;
            border: 1px solid rgba(212, 175, 55, 0.3);
            pointer-events: none;
        }
        .corner-decoration {
            position: absolute;
            width: 20px;
            height: 20px;
            border: 2px solid #d4af37;
        }
        .corner-tl { top: 6px; left: 6px; border-right: none; border-bottom: none; }
        .corner-tr { top: 6px; right: 6px; border-left: none; border-bottom: none; }
        .corner-bl { bottom: 6px; left: 6px; border-right: none; border-top: none; }
        .corner-br { bottom: 6px; right: 6px; border-left: none; border-top: none; }

/* Для планшетной версии */
@media (min-width: 800px) and (max-width: 1023px) {
  .scroll-container {
    transform: scale(0.9);
    transform-origin: center center;
  }
}

